/ Page Header
/ Set your background image for this header on the line below.
%header.intro-header{:style => "background:linear-gradient(rgba(9, 36, 154,0.45),rgba(9, 36, 154,0.45)), url('https://placeimg.com/1000/480/arch/grayscale');background-size:cover;"}
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .site-heading
          %h1 Ayuda a Ecuador
          %hr.small
            %span.subheading Ecuador Solidario busca canalizar ayuda para reconstruir caso a caso los daños causados por el terremoto
          %br
          = link_to "Ver casos", casos_path, class: 'btn btn-default'
          = link_to "Solicita ayuda", new_caso_path, class: 'btn btn-success'
/ Main Content
.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      - @casos.each do |caso|
        .post-preview
          = link_to caso do
            %h2.post-title
              = caso.titulo
            %p.post-meta
              Publicado por
              = caso.user.name
              on
              = caso.created_at
