/ Page Header
/ Set your background image for this header on the line below.
%header.intro-header.animated.fadeIn{:style => "background:linear-gradient(rgba(9, 36, 154,0.45),rgba(9, 36, 154,0.45)), url('#{image_url('img5')}');background-size:cover;"}
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .site-heading.animated.fadeIn
          %h1.animated.bounceInUp Ayuda a Ecuador
          %hr.small.animated.bounceInDown
            %span.subheading Ecuador Solidario busca canalizar ayuda para reconstruir caso a caso los daños causados por el terremoto
          %br
          = link_to "Ver casos", casos_path, class: 'btn btn-default animated slideInLeft'
          = link_to "Solicita ayuda", new_caso_path, class: 'btn btn-success  animated slideInRight'
/ Main Content
.container
  .row
    .col-lg-10.col-lg-offset-1.col-md-12
      - @casos.each do |caso|
        .col-md-4
          = link_to caso do
            .panel.panel-default.animated.bounceInUp
              .panel-heading
                = caso.titulo
              - unless !caso.imagens.first
                = image_tag(caso.imagens.first.imagen.url(:thumb))
              .panel-body.small
                Necesita:
                - caso.recursos.each_with_index do |rec, index|
                  -if index > 0
                    ,
                    = rec.nombre.downcase unless !rec.nombre
                  - else
                    = rec.nombre
                %hr
                .progress
                  .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{caso.progreso}", :role => "progressbar", :style => "width:#{caso.progreso}%"}
                  .progreso
                    %span.small= caso.progreso
                    %span.small= raw('%')
                    %span.small conseguido
