.col-md-4
  .panel.postitem
    .panel-heading
      = content_tag(:article, id: "blogit_post_#{post.id}",class: "blogit_post blog_post--is_preview") do
        = render "blogit/posts/post_head", post: post
    .panel-body
      = render "blogit/posts/blogger_information", post: post
      = format_content(post.short_body)
    .panel-footer
      = render "blogit/posts/comments_count",
        post: post if defined?(show_comments_count) and show_comments_count
    -# .backimagepost.content
    -#   - post.gallery.pictures.where(:destacada => true).each do |imagen|
    -#     = image_tag imagen.image.url(:med)
    -#   .project-overlay
