= simple_nested_form_for(@caso) do |f|
  .form-inputs
    %p
      = f.text_field :titulo, placeholder: "Titula el caso. p.ej. Reconstrucción de colegio", class: "form-control"
    %p
      = f.text_field :problema, placeholder: "Describe el problema", class: "form-control"
    %p
      = f.text_field :ubicacion, placeholder: "¿Dónde se ubica el problema?", class: "form-control"
    %p
      = f.fields_for :recursos do |recurso_form|
        = recurso_form.text_field :nombre, placeholder: "¿Qué necesitas?"
        = recurso_form.number_field :objetivo, placeholder: "Cuántas unidades?"
        = recurso_form.hidden_field :conseguidos, value: 0
        = recurso_form.link_to_remove "Borrar"
    %p
      = f.link_to_add "Agregar recurso necesario", :recursos
  .form-actions
    = f.button :submit, class: "btn btn-default"
