.container
  .col-md-8
    %p#notice= notice
    .small
      %i.fa.fa-map-marker
      = @caso.ubicacion
      |
      = @caso.user.name || 'Nombre no introducido'
    %h1
      = @caso.titulo
    %p.lead
      = @caso.problema
    %p
    -if current_user && current_user.id == @caso.user.id
      = link_to 'Editar', edit_caso_path(@caso)
    = link_to 'Ver todos', casos_path, class: 'btn btn-default'
  .col-md-4
    %br
    %br
    %br
    .well
      - @caso.recursos.each do |recurso|
        %h2= recurso.nombre
        .small
          Objetivo:
          = recurso.objetivo
        .small
          = recurso.conseguidos
          conseguidos
        .progress
          .progress-bar.progress-bar-success{"aria-valuemax" => "#{recurso.objetivo}", "aria-valuemin" => "0", "aria-valuenow" => "#{recurso.conseguidos}", :role => "progressbar", :style => "width:#{recurso.conseguidos*100/recurso.objetivo}%"}
  .col-md-12
    .well
      %h3
        Comentarios
        .fb-comments{"data-href" => "#{request.protocol}#{request.host_with_port}#{request.fullpath}", "data-num-posts" => "2", "data-width" => "100%"}
        #fb-root
        :javascript
          var ready;
          ready = function() {
          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=504323752911178";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
          };

          $(document).ready(ready);
          $(document).on('page:load', ready);
