
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <li><%= link_to 'Admin', '/campamento' %></li>
    <li><%= link_to 'Usuarios', main_app.users_path %></li>
  <% end %>
  <li><%= link_to 'Compartir', main_app.new_user_invitation_path %></li>
<% end %>
<li>
    <%= link_to 'Contactar', main_app.page_path('contact') %>
</li>
<li><%= link_to raw('<i class="fa fa-envelope fa-2x"></i>'), main_app.conversations_path %></li>

<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acceso <i class="fa fa-user fa-2x"></i> <span class="caret"></span></a>  <ul class="dropdown-menu">
<% if user_signed_in? %>
  <li><%= link_to 'Editar cuenta', main_app.edit_user_registration_path %></li>
  <li><%= link_to 'Tus casos', main_app.mis_casos_path %></li>
  <li><%= link_to 'Salir', main_app.destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Iniciar sesión', main_app.new_user_session_path %></li>
  <li><%= link_to 'Registro', main_app.new_user_registration_path %></li>
<% end %>
</ul>
</li>
